@page

@model IndexModel
@{
    ViewData["Title"] = "COCO Home";
}


<div class="text-center">
    <br/><br/>
    <h1 class="display-4">COCO</h1>
    <br/><br/><br/><br /><br />
    <h3>Contractor Owned Contractor Operated</h3>
    <p>Learn more at <a href="https://www.governmentcio.com">GovernmentCIO.com</a></p>
</div>
